<!DOCTYPE html>
<html lang="en">
<head>
  <title>BitcoinTrader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>
		  <% flash.each do |key, value| %>
	      <div class="alert alert-<%= key %>">
	        <%= value %>
	      </div>
    	<% end %>

		<%= yield %>
</body>
</html>

